
h1.title {
    font-size: 1.3em;
    font-family: Impact;
}

h1.title::first-letter {
    color: red;
}

.to-upload {
    background: lime;
    padding: 3px;
}

.slider img {
    height: 200px;
    width: auto;
    display:block;
    margin: 0 auto;
}

.slider .slide {
    background: white;
}

.cursor {
   font-size: 2em;
   float:right;
   margin: 10px;
}

.cursor .red {
   color: orange;
}

.add-picture-btn {
   margin: 5px;
}

.no-padding {
   padding: 0;
}


.title {
   border-top: 2px solid #808080;
   border-bottom: 3px solid #808080;
   color: #808080;
}

