
h1.title {
    font-size: 1.3em;
    font-family: Impact;
}

h1.title::first-letter {
    color: red;
}

.to-upload {
    background: lime;
    padding: 3px;
}

.slider img {
    height: 200px;
    width: auto;
    display:block;
    margin: 0 auto;
}

.slider .slide {
    background: white;
}
